#menu{
    background-color: rgb(230, 226, 226);
    height: 100vh;
    width: 14vw;
    display: flex;
    flex-direction: column;
}

#main-tasks{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%; 
}
#personal-tasks{
    display: flex;
    flex-direction: column;
    
    height: 50%; 
}
.tasks{
    background-color: rgb(216, 211, 211);
    color: #382a1d;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0px 20px 0px 20px;
    padding: 5px 5px 5px 5px;
    transition: 0.5s;
    overflow: hidden;
}
#personal-tasks .tasks{
    margin-top: 15px;
}
#home{
    font-size: 27px;
    font-weight: bold;
    height: fit-content;
    color: #382a1d; 
    align-items: center;
    display: flex;
    
    margin: 10px 20px 0px 20px;
    padding: 5px 5px 5px 5px;
}
.tasks p{
    margin-left: 15px;
}
.tasks:hover{
    background-color: #382a1d;
    color: rgb(230, 226, 226);
    cursor: pointer;
}
.tasks.active{
    background-color: #382a1d;
    color: rgb(230, 226, 226);
}
#user-projects{
    height: 60%;
    display: flex;
}
#projects-title{
    font-size: 27px;
    font-weight: bold;
    width: fit-content;
}
#container-title{
    color: #382a1d; 
    align-items: center;
    display: flex;
   height: fit-content;
    margin: 10px 20px 0px 20px;
    padding: 5px 5px 5px 5px;
}
#add{
    background-color: rgb(216, 211, 211);
    box-sizing: border-box;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 2px;
    border-radius: 10px;
    transition: 0.5s;
}
#add:hover{
    background-color: #382a1d;
    color: rgb(216, 211, 211);
    cursor: pointer;
}
#button-
#nav-container{
    height: 100%;
}
@media (max-width: 900px) {
    #menu{
        display: none;
    }
    #menu.active{
        display: flex;
        width: 50vw;
    }
    #home{
        width: 70%;
        margin: 10px;
    }
    #home p{
        font-size: smaller;
    }
    #add{
        font-size: 15px;
        margin-top: 5px;
        margin-right: 5px;
    }
    #container-title{
        display: flex;
        flex-direction: column;
    }
    #projects-title{
        margin: 10px;
        font-size: 10px;
    }
    #projects-title p{
        font-size:smaller
    }
    .tasks{
        margin: 10px;
    }
    .tasks p{
        font-size: 15px;
        margin-left: 0px;
    }
}
@media (max-width: 1600px) {
    #menu{
        width: 20vw;
    }
    #home{
        font-size: 25px;
        width: 70%;
        margin: 10px;
    }
    #add{
        font-size: 20px;
        margin-top: 5px;
        margin-right: 5px;
    }
    #container-title{
        display: flex;
        flex-direction: column;
        
    }
    #projects-title{
        margin: 0px;
        font-size: 25px;
    }
    .tasks{
        margin: 10px;
    }
    .tasks p{
        font-size: 15px;
        margin-left: 0px;
    }
}

