#header{
    background-color: #382a1d;
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
}
#page-title{
    font-size: 47px;
    padding-left: 3vw;
    color: rgb(230, 226, 226);
}
#checkmark{
    padding: 7px 0px 0px 25px;
    height: 60px;
}
@media (max-width: 700px) {
    #header{
        height: 9vh;
    }
    #page-title{
        font-size: 40px;
    }
}